<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	<h1>Hello World</h1>
    <pre><?php 
		var_dump($this);
	?>
    </pre>
</body>
</html>